/*
Modelo de caixa

.conteudo{
    border: 1px solid red;

    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 150px;

    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

*/

/*Elementos flutuantes
*/

.conteudo{
    background-color: blue;
    border: 1px solid gray;
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px;
}

/*.conteudo1{
    background-color: red;
    border: 1px solid gray;
    width: 150px;
    height: 150px;
    float: right;
}
*/